rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /viewCount/Count {
      allow read: if true;
      allow write: if false; 
    }
  }
}
