@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/*   NAVBAR   */

.navbar {
  background-color: #5075ed;
  border-bottom: #000000;
  border-style: solid;
  border-width: 5px;
}

.NavColor {
  background-color: #5075ed;
  border-bottom: #000000;
  border-style: solid;
  border-width: 5px;

 
}

.NavList{
  color: pink;
  list-style: none;
  display: inline;
}



.navLink{
  color: white;
  text-shadow: 2px 2px red;
  font-size: 2em;
  font-weight: bold;
  padding: .25em;
  font-family: "Poppins", sans-serif;
}

.nav-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLink:hover{
 color:rgb(240, 112, 52);
 text-shadow: 2px 2px gold;
}

.pizzaCount{
  color: white;
  text-shadow: 2px 2px red;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.pizzaBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}


.countBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: -50em;
}

.Pizzas-Color {
  background-color: #f8cd8c;
}


/* VIDEOS PAGE */

.video-search-box{ 
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 70px;
  padding-bottom: 40px;
 
}

.video-search-input{
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;

}
.Videos-Color {
  background-color: #f8cd8c;
  
}

.videos-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.video{
  flex:100%;
  
  /* text-shadow: 2px 2px #ff5757; */

 
  
}

.video-title{
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.pizzavideo{
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  /* For Desktop */
  .video{
    flex: 45%
  }
}


.image-link{
  width: 6em;
  padding-left: 1em;
  transition: transform 1s;

}

.image-link:hover{
  transform: rotate(360deg);
}

.pizza-photo {
  max-width: 40%;
  height: auto;
  padding: 20px;
}

@media(min-width: 768px) {
  /* For Desktop */
.pizza-photo {
  max-width: 25%;
 
  
}
}


.pizza-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8cd8c;
  justify-content: space-around;
}

.pizza-container > div {
  margin: 10px;
  padding: 20px;

}

.quote-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  margin: 0;
  padding-top: 20px;
}

.background{
  background-color: #f8cd8c;
}

.home-text{
  background-color:rgb(0, 0, 0);
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  place-items: center;
  align-content: center;
  
}

.home-div{
  
  display: grid;
  place-items: center;
  min-height: 100vh;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.home-icon{
  height: auto;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 1.5s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show{
  opacity: 1;
  filter: blur(0);
}


/* NO PAGE FOUND  */

.no-page {
  background-color: black;
  color: white;
}

.no-page-cat{
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 25%;
  padding-bottom: 25%;
  width: 50%;
  height: auto;
  align-items: center;
}

.no-page-text{
  text-align: center;
  color: white;
  size: 20px;
  font-family: 'Poppins', sans-serif;
}

/* CUSTOMIZEDACCORDION  */

.accord-dic{
  margin-top: 20px;
  margin-bottom: 20px
}


/*  TIPS PAGE  */

.faq-header{
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  text-align: center;
  color: white;
  text-shadow: 6px 6px #ff5757;
  font-weight: bold;
  margin-top: 0;
  padding-top: 70px;
  margin-bottom: 10px;
}

.faq-sub-header{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #ff5757;
  font-weight: bold;
  margin-top: 0;
  padding-top: 70px;
  margin-bottom: 10px;
}
