@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.navbar {
  background-color: #5075ed;
  border-bottom: #000000;
  border-style: solid;
  border-width: 5px;
}

.NavColor {
  background-color: #5075ed;
  border-bottom: #000000;
  border-style: solid;
  border-width: 5px;

 
}

.NavList{
  color: pink;
  list-style: none;
  display: inline;
}



.navLink{
  color: white;
  text-shadow: 2px 2px red;
  font-size: 2em;
  font-weight: bold;
  padding: .25em;
}

.nav-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLink:hover{
 color:rgb(240, 112, 52);
 text-shadow: 2px 2px gold;
}

.pizzaCount{
  color: white;
  text-shadow: 2px 2px red;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.pizzaBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pizzaRow{
  display: flex;
  flex-wrap: wrap;
}

.pizzaCol{
  display: flex;
  flex: 25%;
  max-width: 25%;
 
  
}

.pizzaCol image {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .pizzaCol {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .pizzaCol {
    flex: 100%;
    max-width: 100%;
  }
}
.countBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: -50em;
}

.Pizzas-Color {
  background-color: antiquewhite;
}

.Videos-Color {
  background-color: #69cb76;
}

.image-link{
  width: 6em;
  padding-left: 1em;
  transition: transform 1s;

}

.image-link:hover{
  transform: rotate(360deg);
}

.pizza-photo {
  max-width: 500px;
  height: auto;
  padding: 20px;
  
}

@media (max-width: 800px) {
  .pizza-photo {
    max-width: 200px;
    
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
  justify-content: space-around;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;

}

.quote-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  margin: 0;
  padding-top: 20px;
}

.home-text{
  background-color:rgb(0, 0, 0);
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  place-items: center;
  align-content: center;
  
}

.home-div{
  
  display: grid;
  place-items: center;
  min-height: 100vh;
  align-content: center;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 1.5s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show{
  opacity: 1;
  filter: blur(0);
}